h1 Parking Project

button.btn.btn-primary Welome, bootstrap!

form action="" method="POST"
  script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_mdHMoXYrCZcWQ2r1H52qUd1N" data-amount="2000" data-name="Demo Site" data-description="2 widgets ($20.00)" data-image="/128x128.png"