h1 Parking Project

div style='width: 80%;'
  #map style='width: 100%; height: 400px;'


javascript:
  handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": #{@lot.latitude},
          "lng": #{@lot.longitude},
          "infowindow": "Park forever!!"
        }
        //"infowindow": #{@lot.address}
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(12);
    });
