$brand-primary: lighten(#3F51B5, 10%);
$navbar-default-color: #999;
$navbar-height: 60px;
$navbar-default-link-color: #111;
// $gray-base: #777;
$well-bg: #FFFFFF;

$navbar-default-color: #FFEB3B;
$navbar-default-bg: #3F51B5;
$navbar-default-brand-color: #FFFFFF;
$navbar-default-link-color: #FFFFFF;
$navbar-default-brand-hover-color: #000000;

$border-radius-base: 0px;
// $font-family-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;